html, body {
  margin: 0;
  padding: 0;
  background-color: #111;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background: #111;
  display: block;
  box-shadow: 0 0 8px #222;

  image-rendering: pixelated;
  /* fallback for other browsers
  image-rendering: crisp-edges; */
}
